<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.min.js"></script>
    <title>TODO List</title>
</head>

<body>
    <div class="main-todo-container">
        <header class="text-center">
            <h1>Todo List</h1>
        </header>

        <form action="/" method="POST">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="anything">
                <label class="floatingInput">Add Todo</label>
                <button class="todo-button btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        
        <div class="todo-container">
            <ul class="todo-list"></ul>
        </div>
    </div>

    <script src="./app.js"></script>
</body>
</html>